@import url('./fonts.css');
@import url('./animation.css');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #21897E;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 45px;
    padding: 15px;
    background-color: #585858;
    border-radius: 10px;
    border: solid 1px #000000;
    filter: drop-shadow(5px 5px 5px);

}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 950px;
}

.keyboard-screen_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.message_change-language-buttons,
.message_windows {
    margin-top: 15px;
}

.keyboard__screen {
    width: 100%;
}
.screen_textarea {
    width: 1250px;
    height: 200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-shadow: 1px 1px 1px #484848;
    background-color: #CACACA;
}

.keyboard-buttons_wrapper {
    position: relative;
    width: 950px;
    display: flex;
    justify-content: center;
}

.keyboard-buttons_wrapper *::selection {
    background-color: transparent;
}

.keyboard__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
    row-gap: 5px;
    width: 835px;
    padding: 10px;
    border: solid 3px #000000;
    background-color: #CACACA;
    border-radius: 3px;
}

.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row {
    display: flex;
    column-gap: 4px;
}

.first-row > div,
.second-row > div,
.third-row > div,
.forth-row > div,
.fifth-row > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    color: white;
    background-color: #000000;
    border-radius: 6px;
}

.first-row > div:hover,
.second-row > div:hover,
.third-row > div:hover,
.forth-row > div:hover,
.fifth-row > div:hover {
    cursor: pointer;
    background-color: #0079D7;
    color: #000000;
    text-shadow: 1px 1px 1px;
}

.key_Backquote,
.key_CapsLock,
.key_Enter,
.key_Delete,
.key_ShiftLeft,
.key_ShiftRight,
.key_ControlRight,
.key_ControlLeft {
    flex-grow: 1;
}

.key_Backspace {
    flex-grow: 5;
}

.key_Tab {
    flex-grow: 1;
}

.key_Space {
    flex-grow: 24;
}

.key_ArrowUp,
.key_ArrowDown,
.key_ArrowLeft,
.key_ArrowRight {
    font-size: 24px;
}

.fifth-row > .flag {
    position: absolute;
    top: 0;
    left: -6px;
    height: 18px;
    width: 30px;
    border: solid 1px #000000;
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: transparent;
}

.fifth-row > .flag:hover{
    cursor: default;
    background-color: transparent;
}

.fifth-row > .flag:before {
    border: none;
}

.message {
    position: relative;
    min-width: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_change-language {
    position: absolute;
    top:5px;
    left: 0;
    display: flex;
    align-items: center;
    height: 25px;
    width: auto;
    vertical-align: middle;
}

.message_change-language > span {
    display: inline-block;
}

.message_os {
    font-weight: bold;
}

.message_flag {
    position: relative;
    width: 25px;
    height: 15px;
    margin: 0 0 0 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.message_flag:before {
    position: absolute;
    top: 2px;
    left: -15px;
    content: "";
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 10px #000000;
    border-right: solid 1px transparent;
}

.message_flag:after {
    position: absolute;
    top: 2px;
    left: -27px;
    content: "";
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 10px #000000;
    border-right: solid 1px transparent;
}

.message_windows10-logo {
    position: relative;
    width: 130px;
    height: 30px;
    margin: 10px 0;
    background-image: url("../assets/images/windows10-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ecmascript6-features {
  width: 855px;
  margin-top: 45px;
  font-size: 14px;
}

.ecmascript6-features > p {
    margin: 0 0 8px; 
    font-weight: bold;
}

.ecmascript6-features_ul {
    margin: 0;
    padding-left: 20px; 
}

.ecmascript6-features_ul > li {
    font-size: 14px;
}

.class-name,
.modules,
.let,
.const {
    font-weight: 900;
}
